{% extends "dashboard.html" %}
{% load static %}
{% block bodycontent %}
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-sm-8">
                            <div class="card">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Login Table</h6>
                                </div>
                                <div class="card-body">
                                    <table class="table table-striped shadow p-3 mb-5 bg-white col-sm-8 rounded">
                                        <thead>
                                            <th scope="col">No</th>
                                            <th scope="col">User</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Password</th>
                                            <th scope="col">Remove</th>
                                        </thead>
                                        <tbody>
                            {% for res in view %}
                                            <tr>
                                                <td>{{ res.Id }}</td>
                                                <td>{{ res.Firstname }}{{ res.Lastname }}</td>
                                                <td>{{ res.Mail }}</td>
                                                <td>{{ res.Password }}</td>
                                                <td> <a href="/deletelogin/{{ res.Id }}"> Delete </a> </td>
                                            </tr>
                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}
